<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087359245232-pnhsqiq1inqd1j3dmafa6uassh8i0ql9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087359245232-pnhsqiq1inqd1j3dmafa6uassh8i0ql9</string>
	<key>API_KEY</key>
	<string>AIzaSyA_1qMe5biPG908YZPc5xh_QIj49Q1LXCE</string>
	<key>GCM_SENDER_ID</key>
	<string>1087359245232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.urunTakipApp</string>
	<key>PROJECT_ID</key>
	<string>urun-takip-fd8b8</string>
	<key>STORAGE_BUCKET</key>
	<string>urun-takip-fd8b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087359245232:ios:d38c8093b3e7fd350fd475</string>
</dict>
</plist>